trigger:
  branches:
    include:
      - main

# Use your self-hosted agent
pool:
  name: 'Default'

variables:
  mavenOpts: '-Xmx1024m'

steps:
  - task: Maven@4
    displayName: 'Maven clean package (skip tests)'
    inputs:
      mavenPomFile: 'pom.xml'          # note: 'Pom', not 'POM'
      goals: 'clean package'
      options: '-DskipTests'           # <-- skip tests in CI
      publishJUnitResults: false       # no test reports when skipping
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      mavenOptions: '$(mavenOpts)'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish JAR artifact'
    inputs:
      PathtoPublish: 'target'
      ArtifactName: 'drop'
      publishLocation: 'Container'
