trigger:
  branches:
    include:
      - main

# Use your self-hosted agent pool
pool:
  name: 'Default'

variables:
  mavenOpts: '-Xmx1024m'

steps:
  - task: Maven@4
    displayName: 'Maven clean package'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-Dmaven.test.failure.ignore=false'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      javaHomeOption: 'Path'         # <- use Java from PATH (your Temurin 21)
      mavenOptions: '$(mavenOpts)'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish JAR artifact'
    inputs:
      PathtoPublish: 'target'
      ArtifactName: 'drop'
      publishLocation: 'Container'
